<hmtl>
  <body>
    <main>
      <form method="post" action="/auth/signup">
        <label for="name">
          <span>Name</span>
          <input type="text" name="Name" />
        </label>
        <label for="email">
          <span>Email</span>
          <input type="text" name="Email" />
        </label>
        <label for="password">
          <span>Password</span>
          <input type="text" name="Password" />
        </label>

        <button id="delete-btn" class="delete-btn" type="submit">submit</button>
      </form>
    </main>
  </body>
</hmtl>
